body {
    background-image: url("../images/RPS_background.png");
    background-size: cover; 
    background-attachment: fixed; 
    background-position: center; 
    margin-top: 1vh;  
} 
 
.heading-font {
    font-family: 'Plaster', cursive;
}

.content-font {
    font-family: 'Concert One', cursive;
}  
 
#header-div {
    width: 60vw; 
    border-radius: 15%; 
    border: 0.5em solid rgb(143, 128, 47);  
}

#header-text {
    display:inline; 
    font-size: 5vw; 
}

#header-img {
    border-radius: 90%; 
    border: 0.25em solid black;
    width: 8vw;   
}

#prompt-section {
    border-radius: 15%; 
    border: 0.2em solid rgb(143, 128, 47); 
    width: 30vw;   
}  

#top-message {
    border-radius: 15%; 
    border: 0.1em solid rgb(143, 128, 47); 
    width: 30vw;  
    color: rgb(143, 128, 47); 
    font-size: 2.5vw; 
    text-align: center; 
    display: none; 
}  

#prompt-section form {
    width: 100%; 
    font-size: 1.2vw; 
}   
 
#add-player-input {
    width: 100%; 
    text-align: center; 
    border-radius: 15%;  
    outline: none; 
    color:  rgb(143, 128, 47);  
}

#add-player-input:focus {
    border: 0.1em solid rgb(143, 128, 47);  
}  

#add-player-button {
    width: 100%; 
    text-align: center; 
    background-color: rgb(143, 128, 47); 
    color: white; 
    border-radius: 15%; 
    outline: none; 
}
 
#add-player-button:hover {
    color: rgb(143, 128, 47); 
    background-color: white; 
}

/* First Row */

#gameplay-section {
    width: 90vw; 
    height: 30vh;  
}

#player1-div, #game-control-div, #player2-div {
    height: 100%; 
    background: white;
    border: 0.3em solid rgb(143, 128, 47);  
}

/* Player 1 Styling */

#player1-active {
    color: red; 
    height: 100%; 
}

#player1-active > .row {
    height: 30%;
} 

#player1-active button {
    color: white;
    background-color: red; 
    height: 5vh; 
    width: 30%; 
    font-size: 1.5vw; 
    padding: 0; 
    text-align: center; 
}

#player1-waiting {
    color: rgb(143, 128, 47);  
    height: 100%; 
    font-size: 2vw;  
}

#player1-img-choice {
    border: 0.3em solid red; 
}

#player1-name {
    font-size: 2vw; 
}

/* Player 2 Styling */
 
#player2-active {
    color: blue; 
    height: 100%; 
}

#player2-active > .row {
    height: 30%;
} 

#player2-active button {
    color: white;
    background-color: blue; 
    height: 5vh; 
    width: 30%; 
    font-size: 1.5vw; 
    padding: 0; 
    text-align: center; 
} 

#player2-img-choice {
    border: 0.3em solid blue; 
}

#player2-name {
    font-size: 2vw; 
}


#player2-waiting {
    color: rgb(143, 128, 47);  
    height: 100%; 
    font-size: 2vw;  
}

.stats-style {
    font-size: 2vw; 
} 

#game-result-message {
    font-size: 3vw; 
    color: rgb(143, 128, 47); 
}

/* Second row */

#messaging-section {
    width: 90vw; 
    height: 15vh;
    
} 

#messaging-section .bg-white {
    border: 0.3em solid rgb(143, 128, 47);  
}

#messaging-section h1 {
    text-align: center; 
    font-size: 2vw; 
}
 
#message-board {
    font-size: 1.5vw; 
}
  
/* Player 1 Input form */ 

#player1-msg-form {
    color: red; 
    font-weight: bolder; 
}

#player1-msg-btn {
    width: 8vw; 
    background-color: red; 
    font-size: 1vw; 
    color: white
}

#player2-msg-form {
    color: blue; 
    font-weight: bolder; 
}

#player2-msg-btn {
    width: 8vw; 
    background-color: blue; 
    font-size: 1vw; 
    color: white
}
 
  
  
/* Media Queries */ 

@media screen and (max-width: 1024px) {

    #header-img {
        width: 9vw;   
    }
    
    #prompt-section {
        width: 60vw;  
    } 
 
    #prompt-section form {
        width: 100%; 
        font-size: 2vw; 
    }   

}


